.coordinate-picker {
    display: flex;
    align-items: center;

	&__input {
        width: 8em;
        position: relative;
	}
    &__cities {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(0, 102%);
        z-index: 1000;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    &__city-list {
        font-size: 0.7em;
        position: relative;
        @media (max-width:470px) {
            font-size: 0.6em;
        }
        ul {
            padding: 0.24em 0;
            &:not(:last-child) {
                border-bottom: 1px solid var(--secondary-color);
            }
        }
    }
}
