.coordinate-picker {
    display: flex;
    align-items: center;

	&__input {
        width: 8em;
        position: relative;
	}
    &__input:focus + .coordinate-picker__cities {
        display: block;
    }
    .coordinate-picker__cities:hover {
        display: block;
    }
    &__cities {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(0, 102%);
        z-index: 1000;
        display: none;
    }
    &__city-list {
        font-size: 0.7em;
        position: relative;
    }
}
