.--button {
    font-size: inherit;
    color: var(--secondary-color);
    box-shadow: 0 .03em .12em -.01em var(--active-color-active-2);
    background-image: linear-gradient(125deg, 
    var(--active-color), var(--active-color-2));
    border-radius: .4em;
    border: none;
    padding: 0.35em 0.8em;
    cursor: pointer;
    // transition: transform 0.3s ease,
    // background-image 0.3s ease;
    transition: all 0.3s ease;
    &:hover {
      transform: scale(102%);
    }
    &:active {
      background-image: linear-gradient(125deg, 
      var(--active-color-active), 
      var(--active-color-active-2));
      transform: scale(98%);
    }
  }