.--setting-button {
    background-color: transparent;
    border: none;
    color: var(--secondary-color);
    font-size: 1.2em;
    cursor: pointer;
    aspect-ratio: 1 /1;
    width: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}