.--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto;
    @media(max-width: 1400px) {
        max-width: 1200px;
    }
}