@import './wi/weather-icons.min';
@import './wi/weather-icons-wind.min.scss';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

body {
  --background-color: hsl(218, 10%, 11%);
  --secondary-background-color: hsla(218, 10%, 16%, 0.7);
  --secondary-color: #ededed;
  --sub-color: #acacac;
  --active-color: hsl(218, 72%, 52%);
  --active-color-2: hsl(280, 87%, 52%);
  --active-color-hover: hsl(218, 72%, 48%);
  --active-color-hover-2: hsl(280, 87%, 48%);
  --active-color-active: hsl(218, 72%, 43%);
  --active-color-active-2: hsl(280, 87%, 43%);
  --wave-color: hsl(210, 100%, 30%);
  --wave-color-2: hsl(210, 100%, 25%);
  --wave-color-3: hsl(210, 100%, 20%);
  --border-radius: 1.4em;

  background-color: var(--background-color);
  color: var(--secondary-color);
  font-size: 1.8em;
  font-family: Open Sans;
  --screen: lg;

  @media(max-width: 992px) {
    --screen: md;
  }

  @media(max-width: 750px) {
    --screen: sm;
  }

  @media(max-width: 470px) {
    --screen: xs;
  }
}

.light {
  --background-color: hsl(218, 10%, 82%);
  --secondary-background-color: hsla(218, 10%, 90%, 0.6);
  --secondary-color: hsl(218, 10%, 15%);
  --sub-color: hsl(218, 10%, 40%);
  --active-color: hsl(218, 72%, 62%);
  --active-color-2: hsl(280, 87%, 62%);
  --active-color-hover: hsl(218, 72%, 68%);
  --active-color-hover-2: hsl(280, 87%, 68%);
  --active-color-active: hsl(218, 72%, 63%);
  --active-color-active-2: hsl(280, 87%, 63%);
  --wave-color: hsl(210, 100%, 50%);
  --wave-color-2: hsl(210, 100%, 45%);
  --wave-color-3: hsl(210, 100%, 40%);
  --border-radius: 1.4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1em;
}

input {
  background-color: transparent;
  border: none;
  // border-bottom: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  font-size: .8em;
  width: 4em;
  outline: none;
  transition: transform 0.3s ease;

  &:focus {
    transform: scale(105%);
  }
}
input[type=checkbox] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;

  color: currentColor;
  font: inherit;
  width: 1.1em;
  height: 1.1em;
  transform: translateX(-.3em);
  border: .16em solid currentColor;
  background-color: transparent;
  border-radius: .2em;
  cursor: pointer;
  transition: background-color .3s ease,
              box-shadow .3s ease,
              opacity .3s ease;
  &:hover {
    opacity: 0.8;
  }
  &:checked {
    background-image: linear-gradient(125deg, 
        var(--active-color), var(--active-color-2));
        border: none;
    box-shadow: 0 .03em .12em -.01em var(--active-color-active-2);
    &::before {
      content: '';
      position: absolute;
      bottom: 18%;
      left: 50%;
      width: 35%;
      height: 70%;
      transform: translate(-50%, 0) rotate(45deg) scale(90%);
      $thickness: .2em;
      border-bottom: $thickness solid currentColor;
      border-right: $thickness solid currentColor;
    }
  }
}
::-webkit-scrollbar {
  height: 0.5em;
  width: 0.5em;
}
::-webkit-scrollbar-track {
  border-radius: 100vw;
  background-color: var(--background-color);
  margin: .6em;

}
::-webkit-scrollbar-thumb {
  background-color: var(--secondary-background-color);
  border-radius: 100vw;
  // border: .12em solid var(--background-color);
  transition: all .3s ease;
  &:hover {
    background-color: color-mix(in srgb, var(--background-color) 10%, var(--secondary-background-color) 90%)
  }
  &:active {
    background-color: color-mix(in srgb, var(--background-color) 20%, var(--secondary-background-color) 80%)
  }
}

body {
  scrollbar-color: var(--secondary-background-color) var(--background-color) ;
  scrollbar-gutter: stable;
}