@import './wi/weather-icons.min';
@import './wi/weather-icons-wind.min.scss';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

body {
  --background-color: hsl(218, 10%, 11%);
  --secondary-background-color: hsla(218, 10%, 16%, 0.7);
  --secondary-color: #ededed;
  --sub-color: #acacac;
  --active-color: hsl(218, 72%, 52%);
  --active-color-2: hsl(280, 87%, 52%);
  --active-color-hover: hsl(218, 72%, 48%);
  --active-color-hover-2: hsl(280, 87%, 48%);
  --active-color-active: hsl(218, 72%, 43%);
  --active-color-active-2: hsl(280, 87%, 43%);
  --wave-color: hsl(210, 100%, 30%);
  --wave-color-2: hsl(210, 100%, 25%);
  --wave-color-3: hsl(210, 100%, 20%);
  --border-radius: 1.4em;

  background-color: var(--background-color);
  color: var(--secondary-color);
  font-size: 1.8em;
  font-family: Open Sans;
  --screen: lg;

  @media(max-width: 992px) {
    --screen: md;
  }

  @media(max-width: 750px) {
    --screen: sm;
  }

  @media(max-width: 470px) {
    --screen: xs;
  }
}

.light {
  --background-color: hsl(218, 10%, 82%);
  --secondary-background-color: hsla(218, 10%, 90%, 0.6);
  --secondary-color: hsl(218, 10%, 15%);
  --sub-color: hsl(218, 10%, 40%);
  --active-color: hsl(218, 72%, 62%);
  --active-color-2: hsl(280, 87%, 62%);
  --active-color-hover: hsl(218, 72%, 68%);
  --active-color-hover-2: hsl(280, 87%, 68%);
  --active-color-active: hsl(218, 72%, 63%);
  --active-color-active-2: hsl(280, 87%, 63%);
  --wave-color: hsl(210, 100%, 50%);
  --wave-color-2: hsl(210, 100%, 45%);
  --wave-color-3: hsl(210, 100%, 40%);
  --border-radius: 1.4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1em;
}

input {
  background-color: transparent;
  border: none;
  // border-bottom: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  font-size: .8em;
  width: 4em;
  outline: none;
  transition: transform 0.3s ease;

  &:focus {
    transform: scale(105%);
  }
}