.forecast {
    overflow: hidden;
    &__container {
        flex-direction: row !important;
        justify-content: space-between !important;
        position: relative;
        // overflow-x: clip;
        // overflow-clip-margin: content-box;
        @media(max-width: 1200px) {
            flex-direction: column !important;
        }
    }

    &__time {
        font-size: .55em;
        color: var(--sub-color);
    }
    &__weather-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 0.6em;
        flex: 0 1 30%;
        @media(max-width: 1200px) {
            flex-direction: row;
            margin-bottom: 0.6em;
            margin-right: 0;
        }
        @media(max-width: 750px) {
            margin-bottom: 0.3em;
        }
    }
    &__card {
        @media(max-width: 1200px) {
            flex: 1 1;
            &:not(:last-child) {
                margin-right: 0.6em;
            }
        }
        @media(max-width: 750px) {
            &:not(:last-child) {
                margin-right: 0.3em;
            }
        }
    }
    &__table {
        @media(max-width: 470px) {
            font-size: .7em;
        }
        flex: 0 1 80%;
    } 
}
