
.weather-card {
    display: flex;
    font-size: 1em;
	justify-content: space-between;
	// max-width: 12em;
	overflow: hidden;
	&__sub-title {
        font-size: .55em;
        color: var(--sub-color);
		margin-bottom: 1.2em;
	}
	&__icon {
        padding-left: 0.3em;
        font-size: 3.2em;
		position: relative;
		z-index: 1;
		&::after {
			position: absolute;
			z-index: 0;
			content: '';
			top: 50%;
			left: 50%;
			width: .5em;
			height: .5em;
			background-color: var(--sub-color);
			transform: translate(-50%, -50%);
			border-radius: 100%;
			filter: blur(.5em);
		}
	}
	&__item {
		width: 3.5em !important;
		font-size: 2em;
	}
}
