.weather-table {
    
    grid-row: 1/ span 3;
    grid-column-start: 2;
    overflow: hidden;
    position: relative;
    &__container {
        display: flex;
        justify-content: space-between;
        position: relative;
        overflow-x: scroll;
        overflow-y: hidden;

        &::-webkit-scrollbar {
            height: 1em;
        }
        &::-webkit-scrollbar-track {
            border: .15em solid transparent;
            background-clip: content-box;
        }
        &::-webkit-scrollbar-thumb {
            border: .27em solid transparent;
            background-clip: content-box;       // really important 
        }
    }
    &__main-title {
        font-size: 1.4em;
        margin-bottom: 0.4em;
        // text-shadow: 0 0 1em var(--sub-color);
        text-align: center;
        @media(max-width: 750px) {
            margin-top: .5em;
        }
    }
}