.header {
    // border-bottom: 2px solid var(--secondary-color);
    position: relative;
    z-index: 1;
    margin: 0.4em 0 0.8em;
    @media (max-width: 470px) {
        margin: 1.2em 0 0.4em;
    }
    &__box {
        display: flex;
        justify-content: space-between;
        font-size: 1.2em;
        @media (max-width: 470px) {
            font-size: 1em;
        }
    }
}